<p>myc06 works!</p>

<!-- 管道: 修改双标签的值 -->
<!-- ng g p pow -->
<p>{{ 5 | pow }}</p>
<p>{{ 9 | pow }}</p>

<!-- 练习 -->
<!-- 1 出现男  0出现女 -->
<!-- ng g p gender -->
<p>{{ 1 | gender }}</p>
<p>{{ 0 | gender }}</p>

<!-- 带参数的管道 -->
<!-- 生成管道: ng g p love -->
<!-- 生成之后 重启 服务器 -->
<p>{{ "然然" | love: "小乔" }}</p>
<!-- 然然 喜欢 小乔 -->
<p>{{ "然然" | love: "亮亮" }}</p>

<!-- 练习 -->
<!-- ng g p fear -->
<p>{{ "然然" | fear: "宝宝":"绿色" }}</p>
<!-- 
  固定2个参数: 出现 然然害怕xx和xx
 -->

<!-- 带默认值的管道: 生成 ng g p like   重启 -->
<p>{{ "西西" | like }}</p>
<!-- 出现: 西西最喜欢 然然 老师 -->
<p>{{ "西西" | like: "东东" }}</p>
<!-- 出现: 西西最喜欢 东东 老师 -->
